<h4><%= comment.name %></h4>
<p><%= comment.body %></p>
<p><%= time_ago_in_words(comment.created_at) %></p>
<% if user_signed_in? %>
  <%= link_to "delete", [comment.post, comment],
    method: :delete,
    class: "button",
    data: { confirm: "are you sure?"}
  %>
<% end %>
