<div id="announcement" class="area container">
  <img src='<%= asset_path('logo.svg')%>' style="max-width: 90px; padding-bottom: 30px;">

  <p style="padding-top: 30px;"> <em>A letter from Grace Mastalli, Chief Executive Officer and President of ECF:</em></p>

  <br/>
  <p>Dear Friends, Partners, and Supporters:</p>
  <br/>

  <p>As may have been apparent to those who follow ECF online, big changes are underway.</p>
  <br/>

  <p>Since our inception, as a largely grant funded offshoot of the e-NABLE movement, ECF has experimented, researched, studied, pilot tested and collaborated widely. We have learned much about 3D technology, printing, prosthetics, humanitarian organizations, materials, crowdsourcing and distributed manufacturing. All these experiences have been valuable and have greatly informed the direction ECF is taking.</p>
  <br/>
  <p>Now, ECF is dedicating its resources to three major activities:</p>
  <br/>
  <ol>
    <li style="line-height:33px;">design of  culturally appropriate, affordable, quality prostheses for individuals living with limb-loss in low income countries;</li>
    <li style="line-height:33px;">development of accessible tools for health care clinicians to configure these devices; and </li>
    <li style="line-height:33px;">training and capacity building of partners --including other NGOs and community based  clinicians -- to manufacture, fit and maintain the devices as part of rehabilitative care for underserved populations. </li>
  </ol>
  <br/>
  <p> As a nonprofit organization, it is our responsibility to pursue the most effective path to improving the lives of those we serve.  After careful review, we have determined that crowdsourcing the amateur design and manufacture of 3D printed prosthetic devices is not a scalable strategy for impact.  While we set out to scale this methodology 18 months ago, we are now departing from it due to a distinct lack of evidence that this model delivers successful patient outcomes. </p>
  <br/>
  <p>We continue to  recognize the psycho-social, emotional and developmental benefits children with limb differences may experience from using e-NABLE hands and value development of many specialized adaptive devices for music, sports and specific tasks. However, since there is a very high rejection and abandonment rate of hand devices unless incorporated into a therapeutic, training, or R&D program, ECF is leaving these approaches to others.  </p>
  <br/>
  <p>In order to achieve greater and lasting mission impact, ECF instead is pursuing development -- in consultation with rehabilitation experts-- of  a rapidly deployable and scalable system for providing quality, low cost prosthetic care for those in the developing world who currently have no other access to rehabilitation.  </p>
  <br/>
  <p>As a result, ECF will no longer evaluate volunteer test hands, match volunteers to individual recipients, or sell hand kits.  ECF strongly encourages individual makers and volunteer groups to partner whenever possible with specialists including trained healthcare providers, occupational therapists, physical therapists, prosthetists, hand surgeons, university assistive technology programs and other institutional partners.  </p>
  <br/>
  <p>Despite this new focus by ECF, the role of the e-NABLE movement in enriching the lives of many, teaching empathy and increasing understanding of people living with disabilities as well as of expanding the reach of 3D technologies and STEAM education continues to be remarkable.  Without the contributions of the e-NABLE community’s founding members, ECF would not be on this new path to greater mission impact. </p>
  <br/>
  <p>We regret any inconvenience or disappointment this may cause for families who have requested services. </p>
  <br/>
  <p>Sincerely,</p>

  <img src='<%= asset_path('grace-signature.svg')%>' style="max-width:125px; padding: 30px 0;">


  <p>Grace Mastalli</p>
  <p>Chief Executive Officer & President </p>
  <p>ECF</p>

</div>
