<div id="terms" class="area">
  <div class="container">
    <div class="row">
      <div class="content-section">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <p class="header">Privacy Policy</p>
        <p>EFFECTIVE DATE: December 15, 2015</p>
        <p>Enable Community Foundation (“ECF”) values your privacy.&nbsp; In this Privacy Policy (“Policy”), we describe how we collect, use, and disclose information that we obtain about visitors to our website, enablecommunityfoundation.org and our forums on which we post this Policy (the “Sites”) and the services available through our Sites (collectively, the “Services”), and how we use and disclose that information.</p>
        <p>By visiting our Sites, or using any of our Services, you agree that your personal information will be handled as described in this Policy. Your use of our Sites or Services, and any dispute over privacy, is subject to this Policy and our Terms of Use, including its applicable limitations on damages and the resolution of disputes. Our Terms of Use are incorporated by reference into this Policy.</p>

        <p>&nbsp;</p>
        <p><strong>The Information We Collect About You</strong></p>
        <p>We may collect information about you directly from you and from third parties, as well as automatically through your use of our Sites or Services.</p>
        <p>Information We Collect Directly From You. We collect information from or about you when you volunteer with our organization, request a device (either for you or on behalf of someone else), participate in one of our forums, post to our blog, make a donation, or otherwise contact us. The type of information that we collect from you depends on your particular interaction with our Sites and Services, and may include:&nbsp; your name, contact information (including email), and, if you make a donation, donation amount. If you register to receive a device, we also may collect information to facilitate device specifications including pictures and measurements.</p>
        <p><strong><em>Information that We Receive from Third Parties</em></strong>: If you make a donation to our organization through PayPal, then we will receive your contact information and amount of your donation.</p>
        <p>Information We Collect Automatically. We may automatically collect the following information about your use of our Sites or Services through cookies, web beacons, and other technologies: your domain name; your browser type and operating system; web pages you view; links you click; your IP address; the length of time you visit our Sites and or use our Services; and the referring URL, or the webpage that led you to our Sites.&nbsp; We may combine this information with other information that we have collected about you, including, where applicable, your user name, name, and other personal information.&nbsp; Please see the section “Cookies and Other Tracking Mechanisms” below for more information.</p>
        <p><strong>How We Use Your Information</strong></p>
        <p>We use your information, including your personal information, for the following purposes:</p>
        <ul>
          <li>To provide our Services to you, to communicate with you about your use of our Services, to respond to your inquiries, to process your donation, to seek donations, for various volunteer purposes, and for other purposes in furtherance of our organization.</li>
          <li>To match persons seeking devices with volunteers.</li>
          <li>To tailor the content and information that we may send or display to you, to offer location customization, and personalized help and instructions, and to otherwise personalize your experiences while using the Sites or our Services.</li>
          <li>For marketing purposes. For example, we may use your information, such as your email address, to send you news and newsletters, as well as for fund-raising purposes.</li>
          <li>To better understand how users access and use our Sites and Services, both on an aggregated and individualized basis, in order to improve our Sites and Services and respond to user desires and preferences, and for other research and analytical purposes.</li>
        </ul>
        <p<strong>How We Share Your Information</strong></p>
        <p>We may share your information, including personal information, as follows:</p>
        <ul>
          <li>Volunteers and Device Recipients. We will share contact information about a device recipient (or the recipient’s guardian/parent) with an appropriate volunteer person or organization (e.g., a school), and vice versa, to facilitate creating the device.</li>
        </ul>
        <strong><em>Other Users of Our Sites/Forums/Blogs</em></strong>. If you post to our Forum or Blog, your user name, picture (optional), number of posts, and any information that you choose to post will be available to, and searchable by, all users of the Sites and Services.
        <ul>
          <li>Partners/Like-Minded Third Parties. We may disclose the information we collect from you to partners or other third parties to assist us in building up our profile or if we think you might be interested in their activities; however, if we do so, their use and disclosure of your personal information will be subject to this Policy.</li>
          <li>Service Providers. We may disclose the information we collect from you to third party vendors, service providers, contractors or agents who perform functions on our behalf.</li>
          <li>In Response to Legal Process. We also may disclose the information we collect from you in order to comply with the law, a judicial proceeding, court order, or other legal process, such as in response to a court order or a subpoena.</li>
          <li>To Protect Us and Others. We also may disclose the information we collect from you where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Use or this Policy, or as evidence in litigation in which we are involved.</li>
          <li>Aggregate and De-Identified Information. We may share aggregate or de-identified information about users with third parties for marketing, research or similar purposes.</li>
        </ul>
        <p>Our Use of Cookies and Other Tracking Mechanisms</p>
        <p>We and our third party service providers use cookies and other tracking mechanisms to track information about your use of our Sites or Services. We may combine this information with other personal information we collect from you (and our third party service providers may do so on our behalf).</p>
        <p>Currently, our systems do not recognize browser “do-not-track” requests. You may, however, disable certain tracking as discussed in this section (e.g., by disabling cookies).</p>
        <p>Cookies.&nbsp; Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your web browser for record-keeping purposes. Some cookies allow us to make it easier for you to navigate our Sites and Services, while others are used to enable a faster log-in process or to allow us to track your activities at our Sites and Service. There are two types of cookies: session and persistent cookies.</p>
        <ul>
          <li>Session Cookies. Session cookies exist only during an online session. They disappear from your computer when you close your browser or turn off your computer. We use session cookies to allow our systems to uniquely identify you during a session or while you are logged into the Sites. This allows us to process your online transactions and requests and verify your identity, after you have logged in, as you move through our Sites.</li>
          <li>Persistent Cookies. Persistent cookies remain on your computer after you have closed your browser or turned off your computer. We may? use persistent cookies to track aggregate and statistical information about user activity.</li>
        </ul>
        <p>Disabling Cookies. Most web browsers automatically accept cookies, but if you prefer, you can edit your browser options to block them in the future. The Help portion of the toolbar on most browsers will tell you how to prevent your computer from accepting new cookies, how to have the browser notify you when you receive a new cookie, or how to disable cookies altogether. Visitors to our Sites who disable cookies will be able to browse certain areas of the Site, but some features may not function.</p>
        <p>Third Party Analytics. We use automated devices and applications, such as Google Analytics, to evaluate usage of our Sites. We also may use other analytic means to evaluate our Services. We use these tools to help us improve our Services, performance and user experiences. These entities may use cookies and other tracking technologies to perform their services.</p>
        <p>User Generated Content</p>
        <p>We invite you to participate in our blogs, forums, and our community (available on Google+). Any content that you post, including your comments, pictures, and any other information that you would like to post may be available to other visitors to our Sites. If you post your own content on our Sites or Services, your posting may become public and we cannot prevent such information from being used in a manner that may violate this Policy, the law, or your personal privacy. Any content that you post to our Google+ community will be subject to Google’s privacy policy and terms of service.</p>
        <p>Third-Party Links</p>
        <p>Our Sites and Services may contain links to third-party websites. Any access to and use of such linked websites is not governed by this Policy, but instead is governed by the privacy policies of those third party websites. We are not responsible for the information practices of such third party websites.</p>
        <p>Security of My Personal Information</p>
        <p>We have implemented commercially reasonable precautions to protect the information we collect from loss, misuse, and unauthorized access, disclosure, alteration, and destruction. Please be aware that despite our best efforts, no data security measures can guarantee 100% security.</p>
        <p>You should take steps to protect against unauthorized access to your password, phone, and computer by, among other things, signing off after using a shared computer, choosing a robust password that nobody else knows or can easily guess, and keeping your log-in and password private. We are not responsible for any lost, stolen, or compromised passwords or for any activity on your account via unauthorized password activity.</p>
        <p>Access To My Personal Information</p>
        <p>If you are a volunteer or a recipient, and you would like to update, modify, or delete the personal information that you have provided to us, please contact the Enable Matcher in our Operations Department support@enablecommunityfoundation.org. All other persons should email ECF Staff at:&nbsp; <a href="mailto:privacy@enablecommunityfoundation.org">privacy@enablecommunityfoundation.org</a>. Please note that copies of information that you have updated, modified or deleted may remain viewable in cached and archived pages of the Sites for a period of time.</p>
        <p><strong>Notice to Persons Outside of the United States</strong></p>
        <p>If you provide information to us, please note that your information will be transferred to and processed in the United States, which may not have the same level of privacy protection as your home country. By using our Sites and Services, you agree that your personal information will be transferred to and processed in the United States.</p>
        <p>What Choices Do I Have Regarding Use of My Personal Information?</p>
        <p>We may send periodic emails to you. You may opt-out of such communications by following the opt-out instructions contained in the e-mail. Please note that it may take up to 10 business days for us to process opt-out requests. If you opt-out of receiving emails about recommendations or other information we think may interest you, we may still send you e-mails about your account or any Services you have requested or received from us.</p>
        <p><strong>Contact Us</strong></p>
        <p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at privacy@enablecommunityfoundation.org.</p>
        <h1><strong>Changes to this Policy</strong></h1>
        <p>This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so please be sure to check back periodically. We will post any changes to this Policy on our Sites. If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Sites.</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </div>
    </div>
  </div>
</div>
