<div id="sayhey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1> THANKS!!</h1>
        <p> We will get back to you soon</p>
        <a href="<%= root_path%>"><< Back</a>
      </div>
    </div>
  </div>
</div>
