<div id="sayhey">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Say hey!</h1>
        <p>Do you have a project or want to get coffee? Are interested in having a new "laptop party" buddy or have a job proposal? Want to high five over the internet? I am currently based out of the Bay area (San Francisco / Berkeley), and would love to chat.</p>
      </div>
      <div class="col-xs-12">
        <h1> THANKS!!</h1>
        <p> I'll get back to you asap : )</p>
      </div>
    </div>
  </div>
</div>