//PADDING
$standard-padding: 30px;

//COLORS
$blue:            #1578b5;
$blue-rgba:       rgba(21,120,181, .8);
$gray:            #b3b4b4;
$white:           #ffffff;
$white-gray:      #f5f5f5;
$black:           #000000;

//FONTS
$standard-font-family: "Open Sans";
$standard-font-size: 18px;
$standard-letter-spacing: 2px;
$standard-line-height: 35px;
$mobile-input-font-size: 16px;

//NAVIGATION
$top-nav-height: 75px;


// BREAKPOINTS
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
