@import "variables";

#hero{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  position: relative;
  &.home{
    background-image: url(asset_path('arm.jpg'));
  }
  &.shade{
    &::after{
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    }
    &::before{
      content: " ";
      display: block;
      height: 351px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.05) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.07) 26%, rgba(0,0,0,0.5) 71%, rgba(0,0,0,0.7) 100%);
      -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -ms-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
      transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
    }
  }
  .hero-text{
    color: $white;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 3;
    h1{
      font-size: $standard-padding * 5;
      margin: 0;
    }
    p{
      font-size: $standard-padding;
      margin: 0;
      letter-spacing: $standard-letter-spacing;
    }
  }
}

.area{
  padding: $standard-padding*2 $standard-padding;
  font-size: $standard-font-size;
  &.gray{
    background-color: $white-gray;
  }
  img{
    width: 100%;
  }
  .header{
    color: $blue;
    font-size: $standard-padding*2;
    margin: 0;
    margin-bottom: $standard-padding/2;
  }
  .subheader{
    font-size: $standard-padding;
    margin: 0;
  }
}
