@import "variables";

#mc_embed_signup{
  padding-top: $standard-padding;
}

#contact{
  background-image: url(asset_path('contact.jpg'));
  background-size: cover;
  background-position:center;
  color: $white;
  position: relative;
  padding: $standard-padding*2 $standard-padding;
  input{
    &[type="submit"]{
      max-width: $standard-padding*10;
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: #000000;
  }
  textarea{
    height: $standard-padding*5;
  }
}

.sponsors{
  margin-top: $standard-padding*2;
  .sponsor{
    display: block;
    &.last{
      clear: both;
    }
    .last{
      display: block;
      margin: 0 auto;
      float: none;
    }
    .create{
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }
    .google{
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }
  }
}
