@import "variables";

#mc_embed_signup{
  padding-top: $standard-padding;
}

.sponsors{
  margin-top: $standard-padding*2;
  .sponsor{
    display: block;
    img{
      width: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: $standard-padding;
      &.colorfab{
        max-width: 150px;
      }
      &.dlapiper{
        max-width: 125px;
      }
      &.fathom{
        max-width: 110px;
      }
      &.google{
        max-width: 200px;
      }
      &.standardcyborg{
        max-width: 90px;
      }
    }
  }

}
