@import "variables";

#top-nav{
  background-color: $white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  height: $top-nav-height;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  @media (max-width: $screen-sm-min) {
    height: 160px;
  }
  a{
    color: $blue;
    &:hover{
      text-decoration: none;
    }
    &:focus{
      text-decoration: none;
    }
  }
  img{
    max-width: $standard-padding*3;
    padding-left: $standard-padding;
    padding-top: 11px;
    @media (max-width: $screen-sm-min) {
      display: block;
      margin: 0 auto;
      max-width: $standard-padding*3;
      padding-left: 0;
    }
  }
  ul{
    float: right;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-right: $standard-padding;
    @media (max-width: $screen-sm-min) {
      display: block;
      margin: 0 auto;
      float: none;
      width: 342px;
    }
    li{
      display: inline-block;
      font-size: $standard-font-size;
      padding: $standard-padding/1.2 3.5px;
      letter-spacing: $standard-letter-spacing;
      @media (max-width: $screen-sm-min) {
        font-size: $mobile-input-font-size;
        padding: $standard-padding/1.2 $standard-padding/3;
      }
    }
  }
}

footer{
  background: $black;
  color: $white;
  font-size: $standard-font-size;
  padding: $standard-padding*2 0;
  .logo{
    max-width: $standard-padding*3;
    display: block;
    margin: 0 auto;
    padding-top: $standard-padding;
  }
  ul{
    padding-left: 0;
    &.social{
      float: left;
      a{
        padding-right: $standard-padding;
        display: inline-block;
        background-color: $blue;
        padding: $standard-padding/2 28px;
        border-radius: 100%;
        max-width: $standard-padding;
        margin-bottom: $standard-padding/2;
        margin-right: $standard-padding/2;
        background-size: $standard-padding;
        background-position: center;
        background-repeat: no-repeat;
        &.instagram{
          background-image: url(asset_path('social/instagram.svg'));
        }
        &.facebook{
          background-image: url(asset_path('social/facebook.svg'));
        }
        &.googleplus{
          background-image: url(asset_path('social/googleplus.svg'));
        }
        &.twitter{
          background-image: url(asset_path('social/twitter.svg'));
        }
        &.youtube{
          background-image: url(asset_path('social/youtube.svg'));
        }
      }
      li{
        display: inline-block;
      }
    }
    &.links{
      list-style: none;
      float: right;
      text-align: right;
      position: relative;
      top: 85px;
      @media (max-width: $screen-sm-min) {
        float: left;
        text-align: left;
        top: 0;
      }
      li{
        display: inline-block;
        &:first-of-type{
          padding-right: $standard-padding/2;
        }
      }
    }
  }
}
