@import "variables";

body{
  margin: 0;
  font-family: $standard-font-family;
  button{
    background: $blue;
    color: $white;
    border: none;
    padding: $standard-padding/1.5 $standard-padding;
    letter-spacing: $standard-letter-spacing;
    margin-top: $standard-padding;
  }
  p{
    line-height: $standard-line-height;
    margin: 0;
  }
}

textarea{
  color: $black;
  padding: $standard-padding;
  width: 100%;
  &:focus{
    outline: none;
  }
}

input{
  color: $black;
  display: block;
  width: 100%;
  margin-bottom: $standard-padding;
  padding: $standard-padding/2;
  &:focus{
    outline: none;
  }
  &[type="submit"]{
    background: $blue;
    border: none;
    color: $white;
    padding: $standard-padding/2;
    width: 100%;
    margin-top: 37px;
    font-size: 20px;
  }
}

label{
  font-weight: 500;
  text-transform: uppercase;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
