<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <ul class="social">
          <a class="facebook" href="https://www.facebook.com/ECF2015" target="_blank">
            <li>
            </li>
          </a>
          <a class="twitter" href="https://twitter.com/enablehands_ecf" target="_blank">
            <li>
            </li>
          </a>
          <a class="instagram" href="https://www.instagram.com/enablecommunityfoundation/" target="_blank">
            <li>
            </li>
          </a>
          <a class="googleplus" href="https://plus.google.com/100437930616464688963" target="_blank">
            <li>
            </li>
          </a>
          <a class="youtube" href="https://www.youtube.com/channel/UCKdiWmb6xNpK4d7MANT3Ghw/videos" target="_blank">
            <li>
            </li>
          </a>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <ul class="links">
          <a href="<%= terms_path%>">
            <li>Terms of Use</li>
          </a>
          <a href="<%= privacy_path%>">
            <li>Privacy</li>
          </a>
        </ul>
      </div>
    </div>
    <p>© 2017 Enable Community Foundation | Except where otherwise noted content on this site is licensed under Creative Commons Attribution 4.0 International License. </p>
  </div>
</footer>
