<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <ul class="social">
          <a class="facebook" href="https://www.facebook.com/ECF2015" target="_blank">
            <li>
            </li>
          </a>
          <a class="twitter" href="https://twitter.com/enablehands_ecf" target="_blank">
            <li>
            </li>
          </a>
          <a class="instagram" href="https://www.instagram.com/enablecommunityfoundation/" target="_blank">
            <li>
            </li>
          </a>
          <a class="googleplus" href="https://plus.google.com/100437930616464688963" target="_blank">
            <li>
            </li>
          </a>
          <a class="youtube" href="https://www.youtube.com/channel/UCKdiWmb6xNpK4d7MANT3Ghw/videos" target="_blank">
            <li>
            </li>
          </a>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <ul class="links">
          <a href="<%= terms_path%>">
            <li>Terms of Use</li>
          </a>
          <a href="<%= privacy_path%>">
            <li>Privacy</li>
          </a>
        </ul>
      </div>
    </div>
    <p class="legal-infos">ECF is a tax exempt 501 (c)(3) non profit organization. 990s and audited 2015 and 2016 financials are available upon request. EIN 47-2170014</p>
  </div>
  <img class="logo" src="<%= asset_path('logo-white.svg')%>">
  <p class="legal-infos">© 2017 ECF</p>

</footer>
